.main{
color: whitesmoke;
background-color: black;
padding: 5px;
height: 400px;
display: flex;

/* flex-wrap: wrap;
==>> this to contain many elements in 
that specific Div */

/* flex-direction: column; */

flex-direction: row;

/* flex-direction: row-reverse; */
/* flex-direction: column-reverse; */
/* --------X-axis-------- */
/* justify-content: flex-start; */

justify-content: center;

/* justify-content: flex-end; */
/* --------Y-axis-------- */
/* align-items: flex-start; */

align-items: center;

/* align-items: flex-end; */

justify-content: space-evenly;

/* justify-content: space-around; */
/* justify-content: space-between; */
}

.one{
    /* order: 0; --->>moved toward 4th place out of 7 */
    /* align-self: flex-start; */
    background-color: red;
    color: black; 
}
.two{
    /* order: -2; --> moved toward 2nd place out of 7 */
    /* align-self: center; */
    background-color: orange;
    color: black;
}
.three{
    /* order: 3; --> moved toward 7th place out of 7 */
    /* align-self: flex-end; */
    background-color: yellow;
    color: black;
}
.four{
    /* order: 1; --> moved toward 5th place out of 7 */
    /* align-self: center; */
    background-color: green;
    /* color: black; */
}
.five{
    /* order: 2;--> moved toward 6th place out of 7 */
    /* align-self: flex-start; */
    background-color: blue;
    /* color: black; */
}
.six{
    /* order: -1; --> moved toward 3rd place out of 7 */
    /* align-self: self-end; */
    /* align-self: flex-end; */
    background-color: indigo;
    /* color: black; */
}
.seven{
     /* order: -3; --> moved toward 1st place out of 7 */
    /* align-self: flex-start; */
    background-color: violet;
    color: black;
}
